
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model int
<table>
    <tr>
        <td>
            <a asp-action="Edit"  class="btn btn-primary" asp-route-id="@Model"><i class="glyphicon glyphicon-edit"></i></a>
        </td>
        <td>
            <a asp-action="Details"  class="btn btn-warning" asp-route-id="@Model"><i class="glyphicon glyphicon-list-alt"></i></a>
        </td>
        <td>
            <a asp-action="Delete" class="btn btn-danger" asp-route-id="@Model"><i class="glyphicon glyphicon-trash"></i></a>
        </td>
    </tr>
</table>
   